body div {
	display: flex;
	flex-flow: row wrap;
	/*flex-direction: column; */
}

body div header, nav, main {
	background: #CCC: 
	border-radius: 7px; 
	margin: 5px;
	padding: 20px;
}

div header {
	order: 1; 
	height: 100px;
	flex: 0 1 100%:
}
div nav {
	order: 2; 
	height: 100px;
	flex: 0 1 100%:
}

div nav ul {
	dispaly: inline-block;
	list-style: none;
}
 div main {
 	order: 3;
 	height: 400px;
 }

h1 {
	font-family: 'Patrick Hand', sans-serif;
	font-size: 3em;
	text-align: center;
}

.clear-content {
	height: 120px;
}

.pricing-table {min-width: 100%;}  /*number based on 210px+10paddingR&L*/

.pricing-table td {
	position: relative;
	margin: 0 5px;
	vertical-align: text-top;
}

.pricing-table thead .plan td {
	width: 210px;
	height: 42px;
	padding: 15px 0;
	text-align: center;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

/*********************************
STYLING FOR MASSAGE MENU
*********************************/
/* concepts drawn from 
http://designmodo.com/create-css3-pricing-tables*/

h1 {
  font-family: 'helvetica', sans-serif;
  font-size: 2.5em;
  text-align: center;
  padding: 2px;
  border-bottom: 2px solid gray;
  border-top: 2px solid gray;
  background-color: linen;
}

table {
  border-collapse: collapse;
  max-width: 75%;
  /*width: 100%;*/
  font-family: 'arial unicode', sans-serif;
}
td {
  border: 1em solid white;
}
.green {
  background: #AFCC76;
  height: 10em;
  width: 2em;
  padding: 1em;
}
.linen {
  background: linen;
  colspan: 3em;
  height: 10em;
  width: 2em;
  padding: 1em;
}

.swedish {
  align: left;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}