body div {
	display: flex;
	flex-flow: row wrap;
	/*flex-direction: column; */
}

/*body div header, nav, main {
	background: #CCC: 
	border-radius: 7px; 
	margin: 5px;
	padding: 20px;
}
*/
/*div header {
	order: 1; 
	height: 100px;
	flex: 0 1 100%:
}*/
/*div nav {
	order: 2; 
	height: 100px;
	flex: 0 1 100%:
}*/

/*div nav ul {
	dispaly: inline-block;
	list-style: none;*/
}
 /*div main {
 	order: 3;
 	height: 400px;*/
 }

h1 {
	font-family: 'helvetica', sans-serif;
	background-color: linen;
	font-size: 3em;
	text-align: center;
}




.music_stream {
	min-width: 15%;
	max-width: 25%;
	padding: 2px;
	margin: 2px;
	background-color: linen;
}



/*********************************
STYLING FOR WEBSITE H2s
*********************************/
h2 {
  font-family: 'helvetica', sans-serif;
  font-size: 2.5em;
  text-align: center;
  padding: 2px;
  border-bottom: 2px solid gray;
  border-top: 2px solid gray;
  background-color: linen;
}



/*********************************
ALL STYLING FOR MASSAGE TABLE BOXES
*********************************/
.menu {
  border-collapse: collapse;
  max-width: 75%;
  /*width: 100%;*/
  font-family: 'arial unicode', sans-serif;
}

.massageOptions {
	font-family: 'Rock Salt', sans-serif;
	font-size: 1em;
	font-weight: bold;
	max-width: 100%;
}

td {  /*this is the padding between the massage option boxes*/
  border: 1em solid white;
}
.green {
  background: #AFCC76;
  height: 10em;
  width: 2em;
  padding: 1em;
}
.linen {
  background: linen;
  colspan: 3em;
  height: 10em;
  width: 2em;
  padding: 1em;
}

.swedish {
  align: left;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}


/*********************************
STYLING FOR ABOUT
*********************************/


.Bio {
	font-family: 'helvetica', sans-serif;
	float: left;
	max-width: 45%;
	padding: 2.5%;
}
